ConsumoServicio/Connected Services/ServiceReference2/servicios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://tempuri.org/AbstractTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="saludar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="saludarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="saludarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sumar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numero01" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="numero02" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sumarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sumarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="aumentar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numero" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="aumentarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aumentarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mensaje" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarLogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GuardarLogResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sumar3N">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num_01" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="num_02" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="num_03" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sumar3NResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Sumar3NResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerFrutas">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerFrutasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerFrutasResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GuardarFrutas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="frutas" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarFrutasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GuardarFrutasResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerEquipos">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerEquiposResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerEquiposResult" type="tns:ArrayOfEquipos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEquipos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Equipos" nillable="true" type="tns:Equipos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Equipos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
      <s:element name="ArrayOfEquipos" nillable="true" type="tns:ArrayOfEquipos" />
    </s:schema>
    <s:schema targetNamespace="http://tempuri.org/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="saludarSoapIn">
    <wsdl:part name="parameters" element="tns:saludar" />
  </wsdl:message>
  <wsdl:message name="saludarSoapOut">
    <wsdl:part name="parameters" element="tns:saludarResponse" />
  </wsdl:message>
  <wsdl:message name="sumarSoapIn">
    <wsdl:part name="parameters" element="tns:sumar" />
  </wsdl:message>
  <wsdl:message name="sumarSoapOut">
    <wsdl:part name="parameters" element="tns:sumarResponse" />
  </wsdl:message>
  <wsdl:message name="aumentarSoapIn">
    <wsdl:part name="parameters" element="tns:aumentar" />
  </wsdl:message>
  <wsdl:message name="aumentarSoapOut">
    <wsdl:part name="parameters" element="tns:aumentarResponse" />
  </wsdl:message>
  <wsdl:message name="GuardarLogSoapIn">
    <wsdl:part name="parameters" element="tns:GuardarLog" />
  </wsdl:message>
  <wsdl:message name="GuardarLogSoapOut">
    <wsdl:part name="parameters" element="tns:GuardarLogResponse" />
  </wsdl:message>
  <wsdl:message name="Sumar3NSoapIn">
    <wsdl:part name="parameters" element="tns:Sumar3N" />
  </wsdl:message>
  <wsdl:message name="Sumar3NSoapOut">
    <wsdl:part name="parameters" element="tns:Sumar3NResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerFrutasSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerFrutas" />
  </wsdl:message>
  <wsdl:message name="ObtenerFrutasSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerFrutasResponse" />
  </wsdl:message>
  <wsdl:message name="GuardarFrutasSoapIn">
    <wsdl:part name="parameters" element="tns:GuardarFrutas" />
  </wsdl:message>
  <wsdl:message name="GuardarFrutasSoapOut">
    <wsdl:part name="parameters" element="tns:GuardarFrutasResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerEquiposSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerEquipos" />
  </wsdl:message>
  <wsdl:message name="ObtenerEquiposSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerEquiposResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="saludarHttpGetIn">
    <wsdl:part name="nombre" type="s:string" />
  </wsdl:message>
  <wsdl:message name="saludarHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="sumarHttpGetIn">
    <wsdl:part name="numero01" type="s:string" />
    <wsdl:part name="numero02" type="s:string" />
  </wsdl:message>
  <wsdl:message name="sumarHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="aumentarHttpGetIn">
    <wsdl:part name="numero" type="s:string" />
  </wsdl:message>
  <wsdl:message name="aumentarHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GuardarLogHttpGetIn">
    <wsdl:part name="mensaje" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GuardarLogHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Sumar3NHttpGetIn">
    <wsdl:part name="num_01" type="s:string" />
    <wsdl:part name="num_02" type="s:string" />
    <wsdl:part name="num_03" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Sumar3NHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ObtenerFrutasHttpGetIn" />
  <wsdl:message name="ObtenerFrutasHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="GuardarFrutasHttpGetIn">
    <wsdl:part name="frutas" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="GuardarFrutasHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerEquiposHttpGetIn" />
  <wsdl:message name="ObtenerEquiposHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfEquipos" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="saludarHttpPostIn">
    <wsdl:part name="nombre" type="s:string" />
  </wsdl:message>
  <wsdl:message name="saludarHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="sumarHttpPostIn">
    <wsdl:part name="numero01" type="s:string" />
    <wsdl:part name="numero02" type="s:string" />
  </wsdl:message>
  <wsdl:message name="sumarHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="aumentarHttpPostIn">
    <wsdl:part name="numero" type="s:string" />
  </wsdl:message>
  <wsdl:message name="aumentarHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GuardarLogHttpPostIn">
    <wsdl:part name="mensaje" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GuardarLogHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Sumar3NHttpPostIn">
    <wsdl:part name="num_01" type="s:string" />
    <wsdl:part name="num_02" type="s:string" />
    <wsdl:part name="num_03" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Sumar3NHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ObtenerFrutasHttpPostIn" />
  <wsdl:message name="ObtenerFrutasHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="GuardarFrutasHttpPostIn">
    <wsdl:part name="frutas" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="GuardarFrutasHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerEquiposHttpPostIn" />
  <wsdl:message name="ObtenerEquiposHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfEquipos" />
  </wsdl:message>
  <wsdl:portType name="serviciosSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="saludar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Saludo a la Persona</wsdl:documentation>
      <wsdl:input message="tns:saludarSoapIn" />
      <wsdl:output message="tns:saludarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sumar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Suma de dos numeros</wsdl:documentation>
      <wsdl:input message="tns:sumarSoapIn" />
      <wsdl:output message="tns:sumarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="aumentar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Aumentar el valor del Numero</wsdl:documentation>
      <wsdl:input message="tns:aumentarSoapIn" />
      <wsdl:output message="tns:aumentarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GuardarLog">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Creacion de Log</wsdl:documentation>
      <wsdl:input message="tns:GuardarLogSoapIn" />
      <wsdl:output message="tns:GuardarLogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Sumar3N">
      <wsdl:input message="tns:Sumar3NSoapIn" />
      <wsdl:output message="tns:Sumar3NSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerFrutas">
      <wsdl:input message="tns:ObtenerFrutasSoapIn" />
      <wsdl:output message="tns:ObtenerFrutasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GuardarFrutas">
      <wsdl:input message="tns:GuardarFrutasSoapIn" />
      <wsdl:output message="tns:GuardarFrutasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEquipos">
      <wsdl:input message="tns:ObtenerEquiposSoapIn" />
      <wsdl:output message="tns:ObtenerEquiposSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="serviciosHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="saludar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Saludo a la Persona</wsdl:documentation>
      <wsdl:input message="tns:saludarHttpGetIn" />
      <wsdl:output message="tns:saludarHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="sumar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Suma de dos numeros</wsdl:documentation>
      <wsdl:input message="tns:sumarHttpGetIn" />
      <wsdl:output message="tns:sumarHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="aumentar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Aumentar el valor del Numero</wsdl:documentation>
      <wsdl:input message="tns:aumentarHttpGetIn" />
      <wsdl:output message="tns:aumentarHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GuardarLog">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Creacion de Log</wsdl:documentation>
      <wsdl:input message="tns:GuardarLogHttpGetIn" />
      <wsdl:output message="tns:GuardarLogHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Sumar3N">
      <wsdl:input message="tns:Sumar3NHttpGetIn" />
      <wsdl:output message="tns:Sumar3NHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerFrutas">
      <wsdl:input message="tns:ObtenerFrutasHttpGetIn" />
      <wsdl:output message="tns:ObtenerFrutasHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GuardarFrutas">
      <wsdl:input message="tns:GuardarFrutasHttpGetIn" />
      <wsdl:output message="tns:GuardarFrutasHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEquipos">
      <wsdl:input message="tns:ObtenerEquiposHttpGetIn" />
      <wsdl:output message="tns:ObtenerEquiposHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="serviciosHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="saludar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Saludo a la Persona</wsdl:documentation>
      <wsdl:input message="tns:saludarHttpPostIn" />
      <wsdl:output message="tns:saludarHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="sumar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Suma de dos numeros</wsdl:documentation>
      <wsdl:input message="tns:sumarHttpPostIn" />
      <wsdl:output message="tns:sumarHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="aumentar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Aumentar el valor del Numero</wsdl:documentation>
      <wsdl:input message="tns:aumentarHttpPostIn" />
      <wsdl:output message="tns:aumentarHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GuardarLog">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Creacion de Log</wsdl:documentation>
      <wsdl:input message="tns:GuardarLogHttpPostIn" />
      <wsdl:output message="tns:GuardarLogHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Sumar3N">
      <wsdl:input message="tns:Sumar3NHttpPostIn" />
      <wsdl:output message="tns:Sumar3NHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerFrutas">
      <wsdl:input message="tns:ObtenerFrutasHttpPostIn" />
      <wsdl:output message="tns:ObtenerFrutasHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GuardarFrutas">
      <wsdl:input message="tns:GuardarFrutasHttpPostIn" />
      <wsdl:output message="tns:GuardarFrutasHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEquipos">
      <wsdl:input message="tns:ObtenerEquiposHttpPostIn" />
      <wsdl:output message="tns:ObtenerEquiposHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="serviciosSoap" type="tns:serviciosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saludar">
      <soap:operation soapAction="http://tempuri.org/saludar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sumar">
      <soap:operation soapAction="http://tempuri.org/sumar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aumentar">
      <soap:operation soapAction="http://tempuri.org/aumentar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarLog">
      <soap:operation soapAction="http://tempuri.org/GuardarLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sumar3N">
      <soap:operation soapAction="http://tempuri.org/Sumar3N" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerFrutas">
      <soap:operation soapAction="http://tempuri.org/ObtenerFrutas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarFrutas">
      <soap:operation soapAction="http://tempuri.org/GuardarFrutas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEquipos">
      <soap:operation soapAction="http://tempuri.org/ObtenerEquipos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="serviciosSoap12" type="tns:serviciosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saludar">
      <soap12:operation soapAction="http://tempuri.org/saludar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sumar">
      <soap12:operation soapAction="http://tempuri.org/sumar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aumentar">
      <soap12:operation soapAction="http://tempuri.org/aumentar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarLog">
      <soap12:operation soapAction="http://tempuri.org/GuardarLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sumar3N">
      <soap12:operation soapAction="http://tempuri.org/Sumar3N" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerFrutas">
      <soap12:operation soapAction="http://tempuri.org/ObtenerFrutas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarFrutas">
      <soap12:operation soapAction="http://tempuri.org/GuardarFrutas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEquipos">
      <soap12:operation soapAction="http://tempuri.org/ObtenerEquipos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="serviciosHttpGet" type="tns:serviciosHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saludar">
      <http:operation location="/saludar" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sumar">
      <http:operation location="/sumar" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aumentar">
      <http:operation location="/aumentar" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarLog">
      <http:operation location="/GuardarLog" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sumar3N">
      <http:operation location="/Sumar3N" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerFrutas">
      <http:operation location="/ObtenerFrutas" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarFrutas">
      <http:operation location="/GuardarFrutas" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEquipos">
      <http:operation location="/ObtenerEquipos" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="serviciosHttpPost" type="tns:serviciosHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saludar">
      <http:operation location="/saludar" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sumar">
      <http:operation location="/sumar" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aumentar">
      <http:operation location="/aumentar" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarLog">
      <http:operation location="/GuardarLog" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sumar3N">
      <http:operation location="/Sumar3N" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerFrutas">
      <http:operation location="/ObtenerFrutas" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarFrutas">
      <http:operation location="/GuardarFrutas" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEquipos">
      <http:operation location="/ObtenerEquipos" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="servicios">
    <wsdl:port name="serviciosSoap" binding="tns:serviciosSoap">
      <soap:address location="http://william214570-001-site1.dtempurl.com/servicios.asmx" />
    </wsdl:port>
    <wsdl:port name="serviciosSoap12" binding="tns:serviciosSoap12">
      <soap12:address location="http://william214570-001-site1.dtempurl.com/servicios.asmx" />
    </wsdl:port>
    <wsdl:port name="serviciosHttpGet" binding="tns:serviciosHttpGet">
      <http:address location="http://william214570-001-site1.dtempurl.com/servicios.asmx" />
    </wsdl:port>
    <wsdl:port name="serviciosHttpPost" binding="tns:serviciosHttpPost">
      <http:address location="http://william214570-001-site1.dtempurl.com/servicios.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>